<!--{% extends "layout.html" %}
{% block body %}

<div class="row">
    <!-- En la columna de 5 ira el formulario -->
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <form action="/add_product" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre_producto" placeholder="Nombre del Producto" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="precio_producto" placeholder="Precio" class="form-control">
                </div>
                <table>
                    {% for tipo in tipo_producto %}
                    <tr>{{tipo.0}} - {{ tipo.1 }}</tr><br>
                    {% endfor %}
                </table>
                <div class="form-group">
                    <input type="text" name="tipo_producto" placeholder="Tipo" class="form-control" type="number">
                </div>
                <div class="form-group">
                    <input type="text" name="cantidad" placeholder="Cantidad" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- En la columna de 5 ira la tabla -->
    <div class="col-md-7">
        <table class="table table-striped-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Producto</td>
                    <td>Precio</td>
                    <td>Tipo de Producto</td>
                    <td>Stock</td>
                    <td>Panel</td>
                </tr>
            </thead>
            <tbody>
                {% for Product in producto %}
                <tr id="product-{{ Product[0] }}">
                    <td>{{ Product.1}}</td>
                    <td class="price">{{ Product.2}} CLP</td>
                    <td>{{ Product.3}}</td>
                    <td>{{ Product.4}}</td>

                        <!-- PANEL DE BOTONES -->

                        <td>
                            <div class="d-flex align-items-center">
                                <div>
                                    <a href="/edit/{{Product.0}}" class="btn btn-info me-2">Editar</a>
                                </div>
                                <div>
                                    <a href="/delete/{{Product.0}}" class="btn btn-danger me-2">Eliminar</a>
                                </div>
                                <div>

                                    <!-- formulario para la conversión -->
                                    <form action="{{ url_for('convert_price', id=Product[0]) }}" method="post" class="convert-form">
                                        <select name="currency_code" class="form-select me-2">
                                            <option value="dolar">Dólar</option>
                                            <option value="uf">UF</option>
                                            <option value="utm">UTM</option>
                                            <option value="euro">Euro</option>
                                        </select>
                                        <button type="submit" class="btn btn-primary">Convertir Precio</button>
                                        <div>
                                            <button type="button" class="btn btn-secondary" onclick="disableConversion()">Desactivar Conversión</button>
                                        </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Formulario para el pago -->
        <div class="card card-body mt-4">
            <form action="/pay" method="POST">
                <div class="form-group">
                    <input type="number" name="amount" id="amount" placeholder="Monto a Pagar" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Pagar con Webpay</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- script js para la Conversión de moneda -->

<script>
document.addEventListener("DOMContentLoaded", function() {
    const forms = document.querySelectorAll(".convert-form");
    forms.forEach(form => {
        form.addEventListener("submit", function(event) {
            event.preventDefault();
            const formData = new FormData(form);
            const currencyCode = formData.get("currency_code");
            const productId = form.closest("tr").id.split("-")[1];
            fetch(`/convert_price/${productId}`, {
                method: "POST",
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const priceElement = form.closest("tr").querySelector(".price");
                priceElement.textContent = data.precio_convertido;
            })
            .catch(error => console.error("Error:", error));
        });
    });
});
</script>



<!-- scripts js de Desactivar la Conversión de monedas -->

<script>
    function disableConversion() {
        fetch('/disable_conversion', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({}),
        })
        .then(response => {
            if (response.ok) {
                location.reload(); // Recargar la página si la desactivación fue exitosa
            } else {
                console.error('Error al desactivar la conversión');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    </script>
    

{% endblock %}